<div class="container-fluid">
  <h1>Enrollement Bootcamp form</h1>
  <form #userForm="ngForm">

    {{userForm.value | json}}

    <hr>

    {{Model | json}}
    <!--ngModelGroup-->
    <!--<div ngModelGroup="address">
<div class="form-group">
  <label>city</label>
  <input type="text" class="form-control" ngModel name="city">
</div>

<div class="form-group">
  <label>street</label>
  <input type="text" class="form-control" ngModel name="street">
</div>


<div class="form-group">
  <label>postalcode</label>
  <input type="text" class="form-control" ngModel name="postal code">
</div>

</div>-->
    <div class="form-group">
      <label>name</label>
      <input type="text" required class="form-control " [(ngModel)]="Model.name" name="name" #name=ngModel
        [class.is-invalid]="name.invalid && name.touched">
      <!--<small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>-->
      <div *ngIf="name.invalid || name.touched">

      </div>

    </div>
    <!--try it{{name.untouched}}-->
    <div class="form-group">
      <label>email</label>
      <input type="text" class="form-control" [(ngModel)]="Model.email" name="email" #email=ngModel>
    </div>
    <div class="form-group">
      <label>phone</label>
      <input type="text" class="form-control" [(ngModel)]="Model.phone" name="phone" #phone=ngModel pattern="^\d{10}$"
        [class.is-invalid]="phone.invalid && phone.touched">
     <!--<small class="text-danger" [class.d-none]="name.valid || name.untouched">phone is required</small>-->
    </div>

    <div class="form-group">
      <select class="custom-select" [(ngModel)]="Model.topic" name="course" #topic>
        <option selected>select option here</option>
        <option *ngFor="let course of courses">{{course}}</option>
      </select>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <label class="form-check-label">morning</label>
        <input type="radio" class="form-check-input" [(ngModel)]="Model.time" name="timePreference" value="morning"
          #time>
      </div>
      <div class="form-check">
        <label class="form-check-label">evening</label>
        <input type="radio" class="form-check-input" [(ngModel)]="Model.time" name="timePreference" value="evening"
          #time>
      </div>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" [(ngModel)]="Model.subscribe" name="subscribe" #subscribe>
      <label class="form-check-label">
        send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit">submit form</button>
  </form>
</div>