<div class="container-fluid">
  <h1>Enrollement Bootcamp form</h1>
  <form #userForm="ngForm">

    {{userForm.value | json}}
    <div class="form-group">
      <label>name</label>
      <input type="text" class="form-control" ngModel name="name">
    </div>

    <div class="form-group">
      <label>email</label>
      <input type="text" class="form-control" ngModel name="email">
    </div>
    <div class="form-group">
      <label>phone</label>
      <input type="text" class="form-control" ngModel name="phone">
    </div>

    <div class="form-group">
      <select class="custom-select" ngModel name="course">
        <option selected>select option here</option>
        <option *ngFor="let course of courses">{{course}}</option>
      </select>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <label class="form-check-label">morning</label>
        <input type="radio" class="form-check-input" ngModel name="time">
      </div>
      <div class="form-check">
        <label class="form-check-label">evening</label>
        <input type="radio" class="form-check-input" ngModel name="time">
      </div>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" ngModel name="subscribe">
      <label class="form-check-label">
        send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit">submit form</button>
  </form>
</div>